@model SistemaContas.Presentation.Models.DashboardModel

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h4>Sejam bem vindo ao sistema de controle de contas</h4>
<p>Visualize o seu resumo financeiro:</p>

@using (Html.BeginForm())
{
    <div class="row mb-2">
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.DataInicio, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataInicio)
            </span>
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(model => model.DataFim, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataFim)
            </span>
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-success" value="Pesquisar Contas" />
        </div>
    </div>

}

<div class="row mb-2">
    <div class="col-md-6">

        <h5>Contas a Receber</h5>
        <div>Total: <strong class="text-success">@Model.TotalAReceber.Value.ToString("c")</strong></div>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-sm grid_datatable">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ContasAReceber)
                    {
                        <tr>
                            <td>@item.Data.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.Nome</td>
                            <td>@item.Valor.Value.ToString("c")</td>
                            <td>@item.Categoria.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">

        <h5>Contas a Pagar</h5>
        <div>Total: <strong class="text-danger">@Model.TotalAPagar.Value.ToString("c")</strong></div>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-sm grid_datatable">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ContasAPagar)
                    {
                        <tr>
                            <td>@item.Data.Value.ToString("dd/MM/yyyy")</td>
                            <td>@item.Nome</td>
                            <td>@item.Valor.Value.ToString("c")</td>
                            <td>@item.Categoria.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>