@model SistemaContas.Presentation.Models.AlterarSenhaModel

@using Newtonsoft.Json
@using SistemaContas.Presentation.Models

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    var usuarioModel = JsonConvert.DeserializeObject<UsuarioModel>(User.Identity.Name);
}

<h4>Dados do Usuário</h4>
<p>Informações do usuário autenticado no sistema:</p>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nome do usuário</th>
                <th>Email de acesso</th>
                <th>Data / Hora de acesso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@usuarioModel.Nome</td>
                <td>@usuarioModel.Email</td>
                <td>@usuarioModel.DataHoraAcesso</td>
            </tr>
        </tbody>
    </table>
</div>

<hr />

<h4>Alterar Senha de Acesso</h4>
<p>Preencha os campos e modifique sua senha de acesso no sistema.</p>

@using (Html.BeginForm())
{
    <div class="row mb-2">
        <div class="col-md-4">
            <label>Nova Senha:</label>
            @Html.PasswordFor(model => model.NovaSenha, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.NovaSenha)
            </span>
        </div>
        <div class="col-md-4">
            <label>Confirme a Nova Senha:</label>
            @Html.PasswordFor(model => model.NovaSenhaConfirmacao, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.NovaSenhaConfirmacao)
            </span>
        </div>
    </div>

    <div class="mb-2">
        <input type="submit" class="btn btn-primary" value="Salvar Alterações"/>
    </div>
}